.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaeaea;
  width: 100%;
}

.chatContainer {
  min-width: 750px !important;
  max-width: 750px !important;
}
